* {
  font-family: "Noto Sans JP";
}
.line-spacing-title {
  line-height: 1.5;
}
.line-spacing-emphasis {
  line-height: 2;
}
.line-spacing-text {
  line-height: 1.7;
}
/* main containers*/
.div-container {
  width: 1024px;
}
.contents-block {
  width: 100%;
  height: 100%;
  margin: 1em auto;
}
/* headers */
/* header title */
#header-svg-designer > path {
  stroke: transparent;
  fill: transparent;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 1;
}
/* header for only link (invisible, not show)*/
.header-for-link {
  visibility: hidden;
}
/* header parts for animation*/
.header-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: black;
  z-index: 50;
  color: white;
  animation-name: header-inner-left-in;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.header-wrapper {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  background: black;
  display: block;
  z-index: 100;
  animation-name: header-wrapper-left-in;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
/*ENTRY button*/
.entry-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  width: 720px;
  margin: 80px auto 0 auto;
  height: 45px;
}
.entry-button {
  display: block;
  margin: 0 auto;
  width: 340px;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
}
.button-entry-google-form {
  background-color: black;
}
.button-entry-google-form:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.button-entry-wantedly {
  background-color: #009cba;
}
.button-entry-wantedly:hover {
  background-color: white;
  color: #009cba;
  border: 1px solid #009cba;
}
/* Animation */
/* header */
@keyframes header-inner-left-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes header-wrapper-left-in {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(200%);
  }
}
@keyframes flowed-in {
  0% {
    opacity: 0;
    top: 200px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/* Animation */
/* svg */
@keyframes svg-text-writing {
  0% {
    fill: transparent;
    stroke-dashoffset: 2000;
  }

  50% {
    fill: transparent;
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
    fill: url(#pattern);
  }
}

@keyframes slide-in-slash {
  0% {
    fill: transparent;
    stroke-dashoffset: 2000;
  }

  50% {
    fill: transparent;
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #ece0b1;
  }
}
