/*SP*/
@media screen and (max-width: 1024px) {
  .contents-block {
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .sp-scroll-bar::-webkit-scrollbar {
    width: 100%;
    height: 5px;
  }
  .sp-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #151515;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 0 0 1px #e5e5e5;
  }
  .sp-scroll-bar::-webkit-scrollbar-track {
    background: #e5e5e5;
  }
  .entry-button-container {
    display: none;
  }
}
