#div-design-team,
#div-designer-style,
#div-designer-how-work {
  padding: 0 101px;
}
/* header svg */
/* animation settings*/
#path_designer_1 {
  animation: slide-in-slash 500ms ease-in 1s forwards;
}
#path_designer_3 {
  animation: svg-text-writing 1s ease-in 0s forwards;
}
.content-header {
  font-family: "Noto Sans JP";
  overflow: hidden;
  position: relative;
}
