.div-designer-how-work {
  width: 100%;
  max-width: 1024px;
  margin: 80px auto 0 auto;
}
/*title*/
.title-designer-how-work {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.subtitle-designer-how-work {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/*supplements*/
.supplement-designer-how-work {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.container-designer-how-work {
  margin-top: 60px;
}
/*examples container*/
.examples-designer-how-work {
  margin-top: 20px;
  counter-reset: title-counter-how-work;
}
.definition-designer-how-work {
  width: 100%;
  background: #f8f4e4;
  display: grid;
  grid-template-columns: 306px minmax(500px, 716px);
  align-items: center;
  justify-content: start;
  justify-items: start;
  position: relative;
}
.definition-designer-how-work:nth-child(even) {
  background: #f2ebcc;
}
.definition-designer-how-work::after {
  content: "";
  width: 2em;
  height: 2em;
  position: absolute;
  bottom: -10px;
  left: 2em;
  background-color: inherit;
  z-index: 2;
  transform: rotate(45deg);
}
.definition-designer-how-work:last-child::after {
  content: "";
  width: 0;
  height: 0;
}
/*examples header(dt)*/
.definition-designer-how-work > dt {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  position: relative;
  grid-column: 1/2;
  padding-left: 2em;
  counter-increment: title-counter-how-work;
  z-index: 3;
}
.definition-designer-how-work > dt > .title-counter-how-work {
  content: counter(title-counter-how-work, decimal-leading-zero);
  font-weight: bold;
  background: #c1ab58;
  border-radius: 100%;
  width: 2em;
  color: white;
  height: 2em;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  margin-right: 1em;
}
.definition-designer-how-work > dt > .title-counter-how-work::before {
  content: counter(title-counter-how-work, decimal-leading-zero);
  line-height: inherit;
}
/*examples content(dd)*/
.definition-designer-how-work > dd {
  grid-column: 2/2;
  padding-right: 1em;
  padding: 30px;
  position: relative;
  line-height: 1.7;
}
.definition-designer-how-work > dd::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  border-left: dashed 1px #c1ab58;
  left: 0;
  top: 10%;
}
/* tea party */
.div-tea-party {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: solid 5px #f2ebcc;
  padding: 2em;
  margin-top: 80px;
}
.dl-content-tea-party {
  margin-left: 32px;
}
.term-tea-party {
  font-size: 30px;
  font-weight: bold;
}
.definition-tea-party {
  margin-top: 18px;
}
