/* header svg */
/* animation settings*/
#path_designer_1 {
  animation: slide-in-slash 500ms ease-in 1s forwards;
}
#path_designer_3 {
  animation: svg-text-writing 1s ease-in 0s forwards;
}
.content-header {
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 600;
  padding: 0 0.2em 0.1em;
}
