.div-about-team {
  width: 100%;
  padding: 0 16px;
}
.header-about-team {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header-title-about-team {
  position: relative;
  max-width: 7.5em;
  min-width: 7.5em;
  font-size: 70px;
}
.header-svg-designer {
  max-width: 588px;
  width: 100%;
  height: auto;
}

/* チーム紹介 */
.ul-design-team {
  width: 100%;
  max-width: 1024px;
  margin: 80px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.ul-design-team > li {
  position: relative;
  max-width: 300px;
  /* 3 columns width = (100% - the total of margin) / 3 */
  width: calc((100% - 120px) / 3);
  height: 240px;
  margin: 0 20px 80px 20px;
}
.header-design-member {
  display: flex;
  width: 117px;
  height: 70px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.design-member-content {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #e5e5e5;
}
.design-member-icon {
  width: 70px;
}
.design-member-name {
  height: 1.5em;
  font-size: 16px;
  font-weight: bold;
  padding-left: 16px;
}
.design-member-position {
  height: 1.5em;
  font-size: 12px;
  padding-left: 16px;
}
.para-preference {
  width: 4em;
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
.design-member-preference-list > ul {
  list-style-type: none;
  display: inline-block;
  margin-top: 7px;
}
.design-member-preference-list:nth-child(1) {
  margin: 7px 0 21px 0;
}
.design-member-preference-list > ul > li {
  list-style: none;
  display: inline;
  font-size: 12px;
  line-height: 1.7;
}
.design-member-preference-list > ul > li::after {
  content: "/";
}
.design-member-preference-list > ul > li:last-child::after {
  content: "";
}
.div-designer-style {
  width: 100%;
  max-width: 1024px;
  margin: 80px auto 0 auto;
}
#header-designer-style {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.ul-designer-style {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  counter-reset: counter-card-designer-style;
}
.card-designer-style {
  background: #f8f4e4;
  width: 310px;
  height: 512px;
  padding-top: 21px;
}
.card-designer-style-number {
  color: #c1ab58;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 20px;
  counter-increment: counter-card-designer-style;
}
.card-designer-style-number::before {
  content: "";
  display: inline-block;
  width: 2em;
  position: relative;
  top: -0.3em;
  margin: 0 0.5em 0 1em;
  border-bottom: 2px solid #c1ab58;
}
.card-designer-style-number::after {
  content: "Style " counter(counter-card-designer-style, decimal-leading-zero);
}
.card-designer-style-icon-window {
  position: relative;
  border-radius: 100%;
  width: 220px;
  height: 220px;
  margin: 20px auto 0 auto;
  background: white;
}
.card-designer-style-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  display: block;
}
.card-title-desiner-style {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 13px;
}
.card-subtitle-desiner-style {
  text-align: center;
  font-weight: bold;
  color: white;
  background: #c1ab58;
  width: calc(100% - 50px);
  margin: 24px auto 0 auto;
  padding: 0.5em 0;
  font-size: 16px;
}
.card-message-designer-style {
  padding: 0 30px 0 30px;
  margin-top: 14px;
}
.card-message-designer-style > li {
  list-style: disc;
  list-style-position: inside;
  line-height: 1.7;
}
