/*SP*/
@media screen and (max-width: 1024px) {
  /* チーム紹介 */
  #div-about-team {
    width: calc(100% - 16px);
    margin: 0 auto;
  }
  #header-about-team {
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 32px;
  }
  #header-svg-designer {
    width: 90%;
    margin-right: 10%;
  }
  #header-title-about-team {
    font-size: 36px;
    width: 8em;
  }
  #div-design-team,
  #div-designer-style,
  #div-designer-how-work {
    margin: 0 auto 64px;
  }
  /*team member */
  #div-design-team {
    height: 330px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .div-design-member {
    flex-shrink: 0;
  }
  /*STYLE（行動指針）*/
  #container-designer-style {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  #header-designer-style {
    font-size: 28px;
  }
  .card-designer-style {
    width: 100%;
    max-width: 323px;
    margin: 0 auto 20px;
  }
}
