/*SP*/
@media screen and (max-width: 1024px) {
  /* チーム紹介 */
  #div-about-team {
    width: calc(100% - 16px);
    margin: 0 auto;
  }
  #header-about-team {
    overflow: hidden;
    flex-direction: column;
  }
  #header-svg-designer {
    width: 90%;
    margin-right: 10%;
  }
  #header-title-about-team {
    font-size: 36px;
    width: 8em;
  }
  #div-design-team {
    margin: 64px auto 0 auto;
  }
  #div-designer-style {
    margin: 64px auto 0 auto;
  }

  /*team member */
  #div-design-team {
    height: auto;
    margin-top: 32px;
    padding: 0 20px 0 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .div-design-member {
    flex-shrink: 0;
    width: 232px;
    height: auto;
    margin: 0 20px 30px 20px;
  }
  /*STYLE（行動指針）*/
  #container-designer-style {
    width: 100%;
    flex-direction: column;
  }
  #header-designer-style {
    font-size: 28px;
  }
  .card-outer-style {
    width: 100%;
    min-width: 323px;
    background: #f8f4e4;
    margin-bottom: 20px;
  }
  .card-designer-style {
    width: 100%;
    max-width: 293px;
    margin: 0 auto 0 auto;
  }
  .card-designer-style-number {
    margin: 0;
  }
  .card-designer-style-number::before {
    margin: 0 1em 0 0;
  }
  .card-title-desiner-style {
    font-size: 24px;
  }
  .card-subtitle-desiner-style {
    width: 100%;
    margin: 21px 0 0 0;
  }
  .card-message-designer-style {
    padding: 0;
  }
}
