#div-about-team {
  width: 100%;
  padding: 0 16px;
}
#header-about-team {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5em;
}
#header-title-about-team {
  position: relative;
  overflow: hidden;
  width: 8em;
  height: 1.2em;
  font-size: 50px;
  background-color: transparent;
}

/* チーム紹介 */
#div-design-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.div-design-member {
  opacity: 0;
  position: relative;
  width: 300px;
  height: 240px;
  animation-name: flowed-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: calc(100 * var(--nth));
  animation-play-state: running;
  margin: 0 20px 80px 20px;
}
.header-design-member {
  display: flex;
  width: 117px;
  height: 70px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.design-member-content {
  width: 100%;
}
.design-member-content::before {
  content: "";
  display: inline-block;
  width: 100%;
  border: dashed 1px #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.design-member-icon {
  grid-area: icon;
  height: 100%;
}
.design-member-name {
  height: 1.5em;
  font-weight: bold;
  padding-left: 1em;
}
.design-member-position {
  height: 1.5em;
  padding-left: 1em;
}
.para-like,
.para-dislike {
  width: 4em;
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
.design-member-likes > ul,
.design-member-dislikes > ul {
  list-style-type: none;
  display: inline-block;
  margin-top: 7px;
}
.design-member-likes > ul {
  margin-top: 7px;
  margin-bottom: 21px;
}

.design-member-likes > ul > li,
.design-member-dislikes > ul > li {
  list-style: none;
  display: inline;
  font-size: 12px;
  line-height: 1.7;
}
.design-member-likes > ul > li::after,
.design-member-dislikes > ul > li::after {
  content: "/";
}
.design-member-likes > ul > li:last-child::after,
.design-member-dislikes > ul > li:last-child::after {
  content: "";
}
#div-design-team,
#div-designer-style,
#div-designer-how-work {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
#div-designer-style {
  margin-top: 80px;
  padding-bottom: 2em;
}
#header-designer-style {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
#container-designer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  counter-reset: counter-card-designer-style;
}

.card-designer-style {
  background: #f8f4e4;
  width: 310px;
  height: 512px;
}
.card-designer-style-number {
  color: #c1ab58;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 1em;
  counter-increment: counter-card-designer-style;
}
.card-designer-style-number::before {
  content: "";
  display: inline-block;
  width: 2em;
  position: relative;
  top: -0.3em;
  margin: 0 0.5em 0 1em;
  border-bottom: 2px solid #c1ab58;
}
.card-designer-style-number::after {
  content: "Style " counter(counter-card-designer-style, decimal-leading-zero);
}
.card-designer-style-icon {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 1em auto 1em;
  display: block;
  background: white;
  padding: 40px;
}
.card-title-desiner-style {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.card-subtitle-desiner-style {
  text-align: center;
  font-weight: bold;
  color: white;
  background: #c1ab58;
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 16px;
}
.card-message-designer-style {
  padding: 30px;
}
.card-message-designer-style > li {
  list-style: disc;
  list-style-position: inside;
}
.card-designer-style {
  padding-bottom: 2em;
}
