#div-designer-how-work {
  width: 100%;
  max-width: 1024px;
  margin: 80px auto 0 auto;
}
/*title*/
p#title-designer-how-work {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
p.subtitle-designer-how-work {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/*supplements*/
p.supplement-designer-how-work {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.container-designer-how-work {
  margin-top: 60px;
}
/*examples container*/
dl.examples-designer-how-work {
  margin-top: 20px;
  counter-reset: title-counter;
}
div.definition-designer-how-work {
  width: 100%;
  background: #f8f4e4;
  display: grid;
  grid-template-columns: 306px 718px;
  align-items: center;
  justify-content: start;
  justify-items: start;
  position: relative;
}
div.definition-designer-how-work:nth-child(even) {
  background: #f2ebcc;
}
div.definition-designer-how-work::after {
  content: "";
  width: 2em;
  height: 2em;
  position: absolute;
  bottom: -10px;
  left: 2em;
  background-color: inherit;
  z-index: 100;
  transform: rotate(45deg);
}
div.definition-designer-how-work:last-child::after {
  content: "";
  width: 0;
  height: 0;
}
/*examples header(dt)*/
dt.example-title-designer-how-work {
  text-align: left;
  width: 100%;
  position: relative;
  grid-column: 1/2;
  padding-left: 2em;
  counter-increment: title-counter;
  z-index: 110;
}
dt.example-title-designer-how-work > span.title-counter {
  content: counter(title-counter, decimal-leading-zero);
  font-weight: bold;
  background: #c1ab58;
  border-radius: 100%;
  width: 2em;
  color: white;
  height: 2em;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  margin-right: 1em;
}
dt.example-title-designer-how-work > .title-counter::before {
  content: counter(title-counter, decimal-leading-zero);
  line-height: inherit;
}
/*examples content(dd)*/
dd.example-content-designer-how-work {
  grid-column: 2/2;
  padding-right: 1em;
  padding: 30px;
  position: relative;
}
dd.example-content-designer-how-work::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  border-left: dashed 1px #c1ab58;
  left: 0;
  top: 10%;
}
/* tea party */
#div-tea-party {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: solid 5px #f2ebcc;
  padding: 2em;
  margin-top: 80px;
}
div#div-content-tea-party {
  margin-left: 32px;
}
#title-tea-party {
  font-size: 30px;
  font-weight: bold;
}
#explain-tea-party {
  margin-top: 18px;
}
