* {
  font-family: "Noto Sans JP";
}

/*-------------------------------------
共通パーツ
-------------------------------------*/
.ttl-bg-left,
.ttl-bg-right {
  display: inline-block;
  padding: 0 10px 5px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF;
  font-size: calc(70 / 1366 * 100vw);
  font-weight: 700;
  z-index: 2;
}
.ttl-bg-right {
  position: absolute;
  right: 0;
}
.ttl-bg-left::before,
.ttl-bg-right::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #333333;
  content: "";
  z-index: -1;
}
.entry-btn-container {
  display: flex;
  justify-content: center;
  margin: 80px auto 0;
}
.entry-btn-container > li {
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 340px;
  border-radius: 100px;
}
.entry-btn-container > li + li {
  margin-left: 40px;
}
.entry-btn-container > li > a {
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  transition: color 0.2s;
}
.entry-btn-container > li::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  content: "";
}
.entry-btn-container > li:first-child {
  border: 1px solid #151515;
}
.entry-btn-container > li:last-child {
  border: 1px solid #009CBA;
}

.entry-btn-container > li:first-child::before {
  background-image: linear-gradient(#151515, #151515, #151515, #151515);
}
.entry-btn-container > li:last-child::before {
  background-image: linear-gradient(#21BDDB, #21BDDB, #21BDDB, #21BDDB);
}
.entry-btn-container > li::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 100px;
  content: "";
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
  z-index: -1;
}
.entry-btn-container > li:first-child::after,
.entry-btn-container > li:last-child::after {
  background-color: #FFFFFF;
}
.entry-btn-container > li:first-child:hover > a {
  color: #151515;
}
.entry-btn-container > li:last-child:hover > a {
  color: #21BDDB;
}
.entry-btn-container > li:hover::after {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px){
  .ttl-bg-left,
  .ttl-bg-right {
    font-size: 36px;
  }
  .ttl-bg-left > span {
    display: block;
  }
  .entry-btn-container {
    display: none;
  }
}
@media screen and (min-width: 1367px){
  .ttl-bg-left,
  .ttl-bg-right {
    font-size: 70px;
  }
}

/*-------------------------------------
DESIGNER チームについて
-------------------------------------*/
.section-designer {
  padding: 80px 70px 0;
  max-width: 1226px;
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}
.head-seciton-designer {
  position: absolute;
  top: 80px;
  left: 40px;
}
.head-seciton-designer > img {
  width: calc(589 / 1366 * 100vw);
  max-width: 589px;
}
.designer-team-wrapper {
  padding: 210px 0 120px;
  position: relative;
}
.designer-team-list {
  max-width: 1024px;
  margin: 175px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.designer-team-list > li {
  position: relative;
  width: calc((100% - 124px) / 3);
}
.designer-team-list > li + li {
  margin-left: 62px;
}
.designer-team-list > li:nth-of-type(3n + 1) {
  margin-left: 0;
}
.designer-team-list > li:nth-of-type(n + 4) {
  margin-top: 80px;
}
.header-designer-member {
  display: flex;
  width: 117px;
  height: 70px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.designer-member-content {
  width: 100%;
  margin-top: 10px;
  padding-top: 17px;
  border-top: 1px dashed #E5E5E5;
}
.designer-member-icon {
  width: 70px;
}
.header-designer-member > dd {
  font-size: 16px;
  font-weight: 600;
  padding-left: 16px;
}
.designer-member-position {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
}
.para-preference {
  width: 64px;
  background-color: #151515;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
.designer-member-preferences + .designer-member-preferences {
  margin-top: 21px;
}
.designer-member-preferences-list {
  list-style-type: none;
  display: inline-block;
  margin-top: 7px;
  font-size: 0;
}
.designer-member-preferences-list > li {
  display: inline;
  font-size: 12px;
  line-height: 1.7;
}
.designer-member-preferences-list > li + li::before {
  content: "／";
}

/*-------------------------------------
DESIGNER STYLE(行動指針)
-------------------------------------*/
.designer-style-wrapper {
  margin: 80px auto 0;
  max-width: 1024px;
}
.header-designer-style {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.designer-style-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  counter-reset: counter-designer-style;
}
.designer-style-list > li {
  background-color: #F8F4E4;
  padding: 20px;
  width: calc(100% - 94px / 3);
}
.designer-style-list > li + li {
  margin-left: 47px;
}
.designer-style-number {
  color: #C1AB58;
  font-size: 12px;
  font-weight: 600;
  counter-increment: counter-designer-style;
}
.designer-style-number::before {
  content: "";
  display: inline-block;
  width: 32px;
  position: relative;
  top: -5px;
  margin: 0 8px 0 16px;
  border-bottom: 2px solid #C1AB58;
}
.designer-style-number::after {
  content: "Style "counter(counter-designer-style, decimal-leading-zero);
}
.designer-style-icon-window {
  border-radius: 50%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: calc(220 / 1366 * 100vw);
  max-width: 220px;
  height: calc(220 / 1366 * 100vw);
  max-height: 220px;
}
.designer-style-icon {
  width: 120px;
}
.designer-style-ttl {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 13px;
}
.designer-style-sub-ttl {
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #C1AB58;
  margin-top: 24px;
  padding: 8px 0;
}
.designer-style-message {
  padding: 0 30px;
  margin-top: 14px;
}
.designer-style-message > li {
  list-style: disc;
  list-style-position: inside;
  line-height: 1.7;
}

/*-------------------------------------
DESIGNER どんな仕事するのか
-------------------------------------*/
.designer-how-work-wrapper {
  margin-top: 80px;
}
.designer-how-work-ttl {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}
.designer-how-work-sub-ttl {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.designer-how-work-supplement {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}
.designer-how-work-container {
  margin-top: 60px;
}
.designer-how-work-examples {
  margin-top: 20px;
  counter-reset: how-work-ttl-counter;
}
.designer-how-work-definition {
  background-color: #F8F4E4;
  display: grid;
  grid-template-columns: 306px minmax(500px, 716px);
  position: relative;
}
.designer-how-work-definition:nth-child(even) {
  background-color: #F2EBCC;
}
.designer-how-work-definition::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: -10px;
  left: 32px;
  background-color: inherit;
  z-index: 2;
  transform: rotate(45deg);
}
.designer-how-work-definition:last-child::after {
  content: "";
  width: 0;
  height: 0;
}
.designer-how-work-definition > dt {
  display: flex;
  align-items: center;
  padding-left: 32px;
  counter-increment: how-work-ttl-counter;
}
.how-work-ttl-counter {
  content: counter(how-work-ttl-counter, decimal-leading-zero);
  font-weight: 600;
  background-color: #C1AB58;
  border-radius: 50%;
  width: 32px;
  color: #FFFFFF;
  height: 32px;
  text-align: center;
  margin-right: 16px;
}
.how-work-ttl-counter::before {
  content: counter(how-work-ttl-counter, decimal-leading-zero);
  font-size: 14px;
  line-height: 32px;
}
.designer-how-work-definition > dd {
  padding: 30px;
  position: relative;
  line-height: 1.7;
}
.designer-how-work-definition > dd::before {
  position: absolute;
  content: "";
  height: 80%;
  border-left: 1px dashed #C1AB58;
  left: 0;
  top: 10%;
}
.designer-tea-party-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #F2EBCC;
  padding: 32px;
  margin-top: 80px;
}
.designer-tea-party-content {
  margin-left: 32px;
}
.designer-tea-party-content > dt {
  font-size: 30px;
  font-weight: 600;
}
.designer-tea-party-content > dd {
  margin-top: 18px;
  line-height: 1.7;
}

/*-------------------------------------
Designer インタビュー
-------------------------------------*/
.interviews-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  position: relative;
  box-sizing: content-box;
}
.interviews-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: #F8F4E4;
  margin: 0 calc(50% - 50vw);
}
.interviews-container {
  margin-top: 90px;
}
.interview-thumbnail {
  width: calc(100vw - 70px);
  max-width: 1296px;
  height: calc(500 / 1366 * 100vw);
  max-height: 500px;
  position: relative;
}
.interview-thumbnail-head {
  display: flex;
  flex-direction: column;
}
.interview-thumbnail-head span {
  font-size: calc(50 / 1366 * 100vw);
}
.interview-thumbnail-head > span + span {
  margin-top: 10px;
}
.interview-thumbnail-head-01 > span:last-child {
  width: 80%;
}
.interview-thumbnail-head-02 > span:first-child {
  width: 35%;
  max-width: 165px;
}
.thumbnail-ttl-interview {
  position: absolute;
  top: calc(237 / 1366 * 100vw);
  left: calc(100 / 1366 * 100vw);
  z-index: 2;
}
.interview-thumbnail-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 900px;
  max-height: 500px;
  width: calc(900 / 1366 * 100vw);
  height: calc(500 / 1366 * 100vw);
}
.interviewee {
  margin-top: 30px;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.interviewee-position {
  display: block;
  font-weight: 100;
}
.interviewee-name {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.interview-thumbnail-leihauoli-logo {
  width: calc(287 / 1366 * 100vw);
  max-width: 287px;
  height: calc(277 / 1366 * 100vw);
  max-height: 277px;
  position: absolute;
  top: calc(75 / 1366 * 100vw);
  left: 0;
}
.interview-contents {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 60px;
}

/* schedule time line */
.interview-schedule-container {
  margin-top: 50px;
  overflow: visible;
  max-width: 342px;
  width: 100%;
}
.interview-schedule-btn {
  display: none;
}
.interview-schedule-menu {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0 32px 25px;
}
.interview-schedule-menu::before {
  content: "OneDay";
  font-weight: 600;
  position: absolute;
  top: 0px;
  font-size: 30px;
  left: 0px;
}
.interview-schedule-time-line {
  border-left: 4px solid #151515;
  padding-top: 40px;
  height: 1124px;
  z-index: 2;
  margin-top: 20px;
  position: relative;
}
.interview-schedule-time-line::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 32px;
  background-color: #151515;
  left: -11px;
}
.interview-schedule-time-line > li {
  position: relative;
  left: -32px;
  background-color: #FFFFFF;
  width: 64px;
  height: 20px;
  line-height: 20px;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.interview-schedule-time-line > li + li {
  margin-top: 104px;
}

/* インタビュー Q&A */
.interview-qa-list {
  margin-left: 120px;
  max-width: 560px;
}
.interview-schedule-todo-list > li > .interview-schedule-todo-detail {
  line-height: 1.5;
}
.interview-schedule-todo-list {
  position: relative;
  left: -10px;
  width: 317px;
  height: 1124px;
}
.interview-schedule-todo-img {
  position: absolute;
  top: calc((100% - 59px) / 2);
  right: 0px;
  width: 50px;
  height: 50px;
  padding-left: 8px;
  box-sizing: content-box;
}
.interview-counter {
  display: inline-block;
  position: relative;
  color: #C1AB58;
  font-size: 12px;
  font-weight: 600;
  padding-left: 60px;
}
.interview-counter::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 52px;
  border-bottom: 1px solid #C1AB58;
  left: 0
}
.interview-question-term {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
  margin-top: 50px;
}
.interview-question {
  line-height: 2;
}
.interview-answer {
  font-size: 16px;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.7;
}
.interview-schedule-ttl {
  display: block;
  font-size: 13px;
  font-weight: 600;
}
.interview-schedule-todo-detail {
  display: block;
  font-size: 12px;
  padding-top: 5px;
  width: 200px;
}

/* schedule list */
.interview-schedule-todo-list > li {
  position: relative;
}
.interview-schedule-todo-list > li::before {
  content: "";
  width: 42px;
  border-top: 1px solid #151515;
  position: absolute;
  left: -48px;
  top: 8px;
}

/* インタビュー01 */
.interview-schedule-todo-list-01 > li:nth-child(1) {
  margin-top: 70px;
}
.interview-schedule-todo-list-01 > li:nth-child(2) {
  margin-top: 20px;
}
.interview-schedule-todo-list-01 > li:nth-child(3) {
  margin-top: 10px;
}
.interview-schedule-todo-list-01 > li:nth-child(4) {
  margin-top: 22px;
}
.interview-schedule-todo-list-01 > li:nth-child(5) {
  margin-top: 46px;
}
.interview-schedule-todo-list-01 > li:nth-child(6) {
  margin-top: 68px;
}
.interview-schedule-todo-list-01 > li:nth-child(7) {
  margin-top: 46px;
}
.interview-schedule-todo-list-01 > li:nth-child(8) {
  margin-top: 190px;
}
.interview-schedule-todo-list-01 > li:nth-child(9) {
  margin-top: 20px;
}
.interview-schedule-todo-list-01 > li:nth-child(10) {
  margin-top: 30px;
}
.interview-schedule-todo-list-01 > li:nth-child(11) {
  margin-top: 36px;
}
.interview-schedule-todo-list-01 > li:nth-child(12) {
  margin-top: 19px;
}
.interview-schedule-todo-list-01 > li:nth-child(13) {
  margin-top: 46px;
}
.interview-schedule-todo-list-01 > li:nth-child(14) {
  margin-top: 12px;
}
.interview-schedule-todo-list-01 > li:nth-child(15) {
  margin-top: 90px;
}

/* インタビュー02 */
.interview-schedule-todo-list-02 > li:nth-child(1) {
  margin-top: 62px;
}
.interview-schedule-todo-list-02 > li:nth-child(2) {
  margin-top: 10px;
}
.interview-schedule-todo-list-02 > li:nth-child(3) {
  margin-top: 32px;
}
.interview-schedule-todo-list-02 > li:nth-child(4) {
  margin-top: 90px;
}
.interview-schedule-todo-list-02 > li:nth-child(5) {
  margin-top: 16px;
}
.interview-schedule-todo-list-02 > li:nth-child(6) {
  margin-top: 108px;
}
.interview-schedule-todo-list-02 > li:nth-child(7) {
  margin-top: 11px;
}
.interview-schedule-todo-list-02 > li:nth-child(8) {
  margin-top: 15px;
}
.interview-schedule-todo-list-02 > li:nth-child(9) {
  margin-top: 96px;
}
.interview-schedule-todo-list-02 > li:nth-child(10) {
  margin-top: 15px;
}
.interview-schedule-todo-list-02 > li:nth-child(11) {
  margin-top: 25px;
}
.interview-schedule-todo-list-02 > li:nth-child(12) {
  margin-top: 122px;
}
.interview-schedule-todo-list-02 > li:nth-child(13) {
  margin-top: 109px;
}
.interview-schedule-todo-list-02 > li:nth-child(14) {
  margin-top: 21px;
}
.interview-schedule-todo-list-02 > li:nth-child(15) {
  margin-top: 24px;
}

@media screen and (max-width: 1024px) {
  /*-------------------------------------
  DESIGNER チームについて
  -------------------------------------*/
  .section-designer {
    padding: 64px 16px 0;
  }
  .head-seciton-designer {
    top: 27px;
    left: 0;
  }
  .head-seciton-designer > img {
    width: 290px;
    height: 168px;
  }
  .designer-team-wrapper {
    padding: 160px 0 64px;
  }
  .designer-team-list {
    padding: 0 20px 30px;
    flex-wrap: nowrap;
    margin-top: 74px;
    overflow-x: auto;
  }
  .designer-team-list > li {
    flex-shrink: 0;
    width: 232px;
    height: auto;
  }
  .designer-team-list > li + li {
    margin-left: 30px;
  }
  .designer-team-list > li:nth-of-type(n + 4) {
    margin-top: 0;
    margin-left: 30px;
  }
  /*-------------------------------------
  DESINGER　STYLE(行動指針)
  -------------------------------------*/
  .designer-style-list {
    width: 100%;
    flex-direction: column;
  }
  .designer-style-list > li {
    width: 100%;
  }
  .designer-style-list > li + li {
    margin: 24px 0 0;
  }
  .header-designer-style {
    font-size: 28px;
  }
  .designer-style-number {
    margin-left: 0;
  }
  .designer-style-number::before {
    margin-right: 16px;
  }
  .designer-style-icon-window {
    width: 220px;
    height: 220px;
  }
  .designer-style-ttl {
    font-size: 24px;
  }
  .designer-style-sub-ttl {
    width: 100%;
    margin-top: 21px;
  }
  .designer-style-message {
    padding: 0;
  }
  /*-------------------------------------
  DESIGNER どんな仕事するのか
  -------------------------------------*/
  .designer-how-work-wrapper {
    margin: 64px auto 0;
  }
  .designer-how-work-ttl {
    font-size: 28px;
  }
  .designer-how-work-container {
    margin-top: 39px;
  }
  .designer-how-work-sub-ttl {
    font-size: 24px;
  }
  .designer-how-work-supplement {
    text-align: left;
    font-size: 14px;
    margin-top: 32px;
  }
  .designer-how-work-definition {
    grid-template-columns: 1fr;
    grid-template-rows: 37px auto;
    padding: 18px 15px 16px;
  }
  .designer-how-work-definition::after {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
  }
  dl.designer-how-work-examples {
    margin-top: 25px;
  }
  .designer-how-work-definition > dt {
    font-size: 18px;
    grid-column: 1;
    grid-row: 1/2;
    border-bottom: 1px dashed #C1AB58;
    padding: 0 0 12px 0;
  }
  .designer-how-work-definition > dt::after {
    display: none;
  }
  .how-work-ttl-counter {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
  .how-work-ttl-counter::before {
    font-size: 12px;
    line-height: 24px;
  }
  .designer-how-work-definition > dd {
    padding: 0;
    font-size: 14px;
    margin-top: 11px;
  }
  .designer-how-work-definition > dd::before {
    display: none;
  }
  .designer-tea-party-container {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .designer-tea-party-container > img {
    margin-top: 55px;
  }
  .designer-tea-party-content {
    margin-left: 0;
  }
  .designer-tea-party-content > dt {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .designer-tea-party-content > dd {
    font-size: 14px;
    margin-top: 16px;
  }
  /*-------------------------------------
  Designer インタビュー
  -------------------------------------*/
  .section-interviews {
    margin-top: 60px;
    padding: 60px 0 64px 16px;
  }
  .interviews-wrapper {
    padding: 64px 0;
  }
  .header-interviews {
    font-size: 36px;
  }
  .interviews-container {
    margin-top: 38px;
  }
  .interview-thumbnail {
    width: calc(100vw - 16px);
    height: calc(142 / 375 * 100vw);
  }
  .interview-thumbnail-head span {
    font-size: 24px;
  }
  .interview-thumbnail-head > span + span {
    margin-top: 5px;
  }
  .interview-thumbnail-head-02 > span:first-child {
    width: calc(100% - 146px);
  }
  .interviewee {
    margin-top: calc(16 / 375 * 100vw);
  }
  .thumbnail-ttl-interview {
    top: calc(62 / 375 * 100vw);
    left: calc(20 / 375 * 100vw);
  }
  .interview-thumbnail-image {
    width: calc(256 / 375 * 100vw);
    height: calc(142 / 375 * 100vw);
  }
  .interview-thumbnail-leihauoli-logo {
    width: calc(70 / 375 * 100vw);
    height: calc(68 / 375 * 100vw);
    top: calc(20 / 375 * 100vw);
  }
  .interview-contents {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 80px;
  }
  .thumbnail-leihauoli-logo {
    top: 45px;
    left: 0;
    margin-right: 33px;
  }
  .thumbnail-ttl-interview {
    left: 10%;
  }
  .interviewee-position {
    font-size: 12px;
  }
  .interviewee-name {
    margin-top: 5px;
    font-size: 16px;
  }
  /* schedule time line */
  .interview-schedule-container {
    position: relative;
    height: 50px;
    margin-top: 40px;
    overflow: hidden;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
  }
  .interview-schedule-btn {
    font-weight: 600;
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #E0CB7D;
    padding: 0 16px 0 32px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  /* schedule opened*/
  .interview-schedule-btn::after {
    content: "";
    width: 5px;
    height: 5px;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #151515;
    border-left: 5px solid transparent;
    transition: ease-in-out 0.4s;
  }
  .schedule-opened.interview-schedule-container {
    animation-name: interview-schedule-container-open;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  /* schedule closed */
  .schedule-closed.interview-schedule-container {
    animation-name: interview-schedule-container-open;
    animation-direction: reverse;
    animation-fill-mode: backwards;
    animation-play-state: running;
  }
  .schedule-closed>.interview-schedule-btn::after {
    transform: rotate3d(1, 0, 0, -180deg);
  }
  .interview-schedule-menu {
    background-color: #FFFFFF;
    transition: ease-in-out 0.4s;
    padding: 82px 0 32px 25px;
  }
  .interview-schedule-menu::before {
    display: none;
  }
  .schedule-closed>.interview-schedule-menu {
    transform: translateY(calc(-100% - 50px));
  }
  .interview-schedule-time-line {
    font-size: 14px;
  }
  .interview-schedule-todo-list {
    width: 317px;
    height: 1124px;
    margin-top: 0;
  }
  /* interview list */
  .interview-qa-list {
    margin-left: 0;
    max-width: 100%;
  }
  .interview-question-term {
    font-size: 18px;
    line-height: 1;
    margin-top: 32px;
  }
  .interview-question-term:first-child {
    margin-top: 0;
  }
  .dd-interview-answer {
    font-size: 16px;
  }
  .interview-schedule-ttl {
    font-size: 13px;
  }
  .interview-schedule-todo-detail {
    font-size: 12px;
    width: 169px;
  }
  .img-window-schedule {
    right: 10px;
    transform: scale(1.2);
  }
  @keyframes interview-schedule-container-open {
    0% {
      height: 50px;
    }
    100% {
      height: 100%;
    }
  }
  .interview-schedule-todo-list-01 > li:nth-child(4) {
    margin-top: 9px;
  }
  .interview-schedule-todo-list-01 > li:nth-child(5) {
    margin-top: 41px;
  }
}
@media screen and (min-width: 1367px) {
  /*-------------------------------------
  DESIGNER チームについて
  -------------------------------------*/
  .interview-thumbnail-head span {
    font-size: 50px;
  }
  .interview-thumbnail-leihauoli-logo {
    top: 75px;
  }
  .thumbnail-ttl-interview {
    top: 237px;
    left: 100px;
  }
}

/*-------------------------------------
WORKS
-------------------------------------*/
.section-works {
  margin: 0 auto;
  max-width: 1226px;
  padding: 100px 70px 80px;
  box-sizing: content-box;
  position: relative;
}
.head-section-works > img {
  width: calc(552 / 1366 * 100vw);
  max-width: 552px;
}
.works-examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
.works-examples-list > li {
  position: relative;
  width: 30%;
}
.works-examples-list > li:nth-child(3n + 1) {
  margin-top: 120px;
}
.works-examples-list > li:nth-child(3n + 2) {
  margin-top: 60px;
}
.works-examples-list > li:nth-child(3n) {
  margin-top: 0px;
}
.works-example-card {
  cursor: pointer;
  position: relative;
  display: block;
}
.works-example-card-img {
  width: 100%;
}
.works-example-txt {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.7;
  padding: 0 20px;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(21, 21, 21, 0.5);
  transition: opacity 0.4s;
}
.works-example-txt:hover {
  opacity: 1;
}
.works-example-supplement {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
.works-example-type {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  /*-------------------------------------
  WORKS
  -------------------------------------*/
  .section-works {
    padding: 40px 16px 64px;
  }
  .head-section-works > img {
    width: 290px;
    height: 168px;
  }
  .works-examples-list {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 39px;
    padding-bottom: 30px;
  }
  .works-examples-list > li {
    width: 232px;
    flex-shrink: 0;
    margin: 0 16px;
  }
  .works-examples-list > li:nth-child(3n),
  .works-examples-list > li:nth-child(3n + 1),
  .works-examples-list > li:nth-child(3n + 2) {
    margin-top: 0px;
  }
  .works-example-company {
    font-size: 16px;
    margin: 16px 0 6px;
  }
  .works-example-txt {
    font-size: 16px;
  }
}

/*-------------------------------------
SP
-------------------------------------*/
@media screen and (max-width: 1024px) {
  .sp-scroll-bar::-webkit-scrollbar {
    width: 100%;
    height: 5px;
  }
  .sp-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #151515;
    border-radius: 10px;
  }
  .sp-scroll-bar::-webkit-scrollbar-track {
    background-color: #E5E5E5;
    border-radius: 10px;
  }
  .entry-button-container {
    display: none;
  }
}
