.section-works {
  margin: 100px auto 0;
  max-width: 1226px;
  padding-bottom: 80px;
  width: 100%;
}
.header-svg-works {
  width: 552px;
}
.div-works-examples {
  width: 100%;
}
.ul-works-examples-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  padding: 0 16px 0 16px;
}
.work-example-cards {
  position: relative;
  max-width: 370px;
  width: 30%;
}
.work-example-cards:nth-child(3n + 1) {
  margin-top: 120px;
}
.work-example-cards:nth-child(3n + 2) {
  margin-top: 60px;
}
.work-example-cards:nth-child(3n) {
  margin-top: 0px;
}

.work-example-image {
  width: 100%;
  height: auto;
  position: relative;
}
img.img-works-example {
  position: relative;
  width: 100%;
}
.description-works-example {
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0000005c;
  transition: ease-in-out 0.5s;
}
.description-works-example:hover {
  opacity: 1;
}
.works-example-company {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
}
.works-example-type {
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
.works-example-application-type::after {
  content: "／";
}
